.background-header-image {
    background: url(../img/header.jpg) center center;
}

/* 
    linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)) 
    --> dégradé uniforme de même couleur pour voiler l'image 
        0deg car habituellement, dégradé de gauche à droite 
*/

header img {
    width: 150px;
}

#footer {
    background-color: black;
}

/* les icônes se comportent comme du texte. pour modifier leurs tailles, on utilise font-size */