/* 
    color: #FFFFFF
    color: #000000 
*/ 

@font-face {
    font-family: 'Courgette-Regular';
    src: url('../fonts/Courgette-Regular.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Oswald-VariableFont_wght';
    src: url('../fonts/Oswald-VariableFont_wght.ttf');
    font-weight: normal;
}

h1, h2, h3, h4 {
    font-family: 'Courgette-Regular', sans-serif;
}

body {
    font-family: 'Oswald-VariableFont_wght', sans-serif;
}

