body {
    font-family: Oswald, Helvetica, sans-serif;
    font-weight: 200;
}

h1, h2, h3, h4, h5, h6, label {
    font-family: Courgette, Georgia, sans-serif;
}

.navbar {
    background: rgba(0, 0, 0, .8);
    /* z-index: 1; */
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.navbar-brand {
    font-family: Courgette, Georgia, sans-serif;
    font-size: 1em;
}

.background-header-image {
    background: url(../img/header.jpg) center center;
}

/* 
    linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)) 
    --> dégradé uniforme de même couleur pour voiler l'image 
        0deg car habituellement, dégradé de gauche à droite 
    OU utiliser background: rgba(0, 0, 0, 0.8), préciser la couleur du voile
     et jouer sur le a (alpha) qui correspond à l'opacity
*/

header {
    height: 500px;
    text-align: center;
    margin-bottom: 32px;
}

header img {
    width: 75px;
}

header .container-fluid {
    background: rgba(0, 0, 0, .8);
    height: 100%;
}

header h1, header h2 {
    color: white;
}

header .col-12 {
    padding: 128px;
}

footer {
    background-color: black;
    color: white;
    padding: 32px;
}
  
footer a {
    color: white;
    text-decoration: underline;
}
  
footer ul {
    list-style: none;
    padding: 4px;
}

#subscribe {
    background-color: black;
    color: white;
    border: 1px solid white;
} 
  
#subscribe:hover {
    background-color: gray;
} 
  
.social-icons li {
    margin: 0px 4px;
}
  
.social-icons i {
    padding: 8px;
    background-color: white;
    color: black;
    font-size: 22px;
}

/* les icônes se comportent comme du texte. pour modifier leurs tailles, on utilise font-size */

